Source: board-db8060a
Section: embedded
Priority: extra
Maintainer: Ryan Kuester <rkuester@insymbols.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4

Package: board-db8060a
Architecture: all
Description: Board package for db8060a devices
 This is the board package for DragonBoard 8060a devices.
Depends:
 getty-hsl0-run,
 devnodes-db8060a,
 linux-db8060a,
 securetty-db8060,
 ${misc:Depends}
